body
  h1
    |Product Finder
  form(action='/product', method='POST')
    label(for="plNumber")
      | Search for food:
      input(type='text', name='plNumber', id='plNumber')
    input(type='submit', value='Submit')
    