html
  head
    link(rel="stylesheet" type="text/css" href="/styles/style.css")
  body
    h1
      | Product Finder
    p(class="descript") PL Number: #{product.plNumber}
    p(class="descript") Name: #{product.name}
    p(class="descript") Dose: #{product.dose}
    p(class="descript") Substance: #{product.substance}
